@mixin posicao_dia {
    position: relative;
    bottom: -38px;
}

@mixin posicao_dia-mobile {
    position: relative;
    bottom: -35px;
}

.tela {
    width: 42.5%;
    height: 29.5rem;
    margin: 0 0 6rem 23rem;
    background-color: var(--cor-tela);
    border-radius: 14px;
    .titulo_grafico {
    padding: 26px 0 14px 36px;
    color: var(--cor-fonte-principal);
    font-size: 26px;
    }
    .grafico {
        display: flex;
        align-items: flex-end;
        .coluna {
        width: 45px;
        border-radius: 5px;
        margin: 25px 0 2px 0;
        }
        #coluna_0, #coluna_1, #coluna_3, #coluna_4, #coluna_5, #coluna_6 {
        background-color: var(--vermelho-principal);
        }
        #coluna_0 {
        height: 60px;
        margin-left: 2.2rem;
        }
        #coluna_1 {
        height: 120px;
        }
        #coluna_2 {
        background-color: var(--azul-principal);
        height: 160px;
        }
        #coluna_3 {
        height: 100px;
        }
        #coluna_4 {
        height: 80px;
        }
        #coluna_5 {
        height: 140px;
        }
        #coluna_6 {
        height: 90px;
        }
        #coluna_0, #coluna_1, #coluna_2, #coluna_3, #coluna_4,
        #coluna_5, #coluna_6 {cursor: pointer;} 
        .dia_mon, .dia_wed {
        @include posicao_dia;
        left: -40px;
        }
        .dia_tue, .dia_thu, .dia_sun {
        @include posicao_dia;
        left: -36px;
        }
        .dia_fri {
        @include posicao_dia;
        left: -30px;
        }
        .dia_sat {
        @include posicao_dia;
        left: -34px;
        }
    }
    .linha {
    width: 90%;
    margin: 50px 0 30px 28px;
    }
    .total {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        .texto {
        color: var(--cor-fonte-secundaria);
        font-size: 14px;
        }
        .valor {
        color: var(--cor-fonte-principal);
        font-size: 36px;
        font-weight: 700;
        }
    }
    .total_final {
        display: grid;
        justify-content: end;
        margin: -40px 30px 0 0;
        justify-items: end;
        .porcentagem {
        color: var(--cor-fonte-principal);
        font-size: 14px;
        font-weight: 700;
        }
        .texto_final {
        color: var(--cor-fonte-secundaria);
        font-size: 14px;
        }
    }
    #val0,#val1,#val2,#val3,#val4,#val5,#val6 {
        opacity: 0;
        background: black;
        color: white;
        font-size: small;
        position: absolute;
        margin-top: -2rem;
        transition:  2s
    }
    #value{
        opacity: 1;
        background: black;
        color: white;
        font-size: small;
        position: absolute;
        margin-top: -2rem;
        transition:  2s
    }
}

@media screen and (max-width: 480px) {
    .tela {
        width: 65%;
        height: 20.5rem;
        margin: 1rem 0 0 1.3rem;
        .titulo_grafico {
        font-size: 18px;
        margin-left: 1rem;
        padding: 20px 10px;
        }
        .grafico {
            display: flex;
            align-items: flex-end;
            .coluna {
            width: 20px;
            padding: 10px;
            }
            #coluna_0 {
            height: 20px;
            margin-left: 1.3rem;
            }
            #coluna_1 {
            height: 42px;
            }
            #coluna_2 {
            background-color: var(--azul-principal);
            height: 65px;
            }
            #coluna_3 {
            height: 35px;
            }
            #coluna_4 {
            height: 26px;
            }
            #coluna_5 {
            height: 50px;
            }
            #coluna_6 {
            height: 30px;
            }
            .dia_mon, .dia_tue, .dia_wed, .dia_thu, .dia_fri, .dia_sat, .dia_sun {
            font-size: 14px;
            }
            .dia_mon, .dia_wed {
            @include posicao_dia-mobile;
            left: -23px;
            }
            .dia_tue, .dia_thu, .dia_sun {
            @include posicao_dia-mobile;
            left: -20px;
            }
            .dia_fri {
            @include posicao_dia-mobile;
            left: -17px;
            }
            .dia_sat {
            @include posicao_dia-mobile;
            left: -19px;
            }
        }
        .linha {
        margin: 38px 0 5px 15px;
        }
        .total {
            margin-left: 20px;
            .valor {
            font-size: 26px;
            padding-top: 2px;
            }
        }
} 
}
