.visor {
    display: flex;
    background-color: var(--vermelho-principal);
    border-radius: 14px;
    width: 40%;
    margin: 6rem 0 0 23rem;
    padding: 16px;
    .visor_balanca {
    display: flex;
    flex-direction: column;
    }
    .titulo {
    color: var(--cor-tela);
    padding: 6px 0 5px 12px;
    font-size: 14px;
    }
    .valor {
    color: var(--cor-tela);
    font-size: 28px;
    font-weight: 700;
    padding: 2px 0 6px 12px;
    }
    .logo {
    padding-left: 20rem;
    }
}

@media screen and (max-width: 480px) {
    .visor {
        width: 30%;
        margin: 4rem 0 0 1.3rem;
        padding: 10px 84px;
        .titulo, .valor {
        margin-left: -5rem;
        }
        .titulo {
        font-size: 12px;
        }
        .valor {
        font-size: 22px;
        }
        .logo {
        padding-left: 8.5rem;
       }
    }
} 
