:root {
--vermelho-principal: #ec775f;
--azul-principal: #76b5bc;
--cor-fonte-principal: #382314;
--cor-fonte-secundaria: #93867b;
--cor-fundo: #f8e9dd;
--cor-tela: #fffaf5;
--fonte:'DM Sans', sans-serif;
}