:root {
  --vermelho-principal: #ec775f;
  --azul-principal: #76b5bc;
  --cor-fonte-principal: #382314;
  --cor-fonte-secundaria: #93867b;
  --cor-fundo: #f8e9dd;
  --cor-tela: #fffaf5;
  --fonte:"DM Sans", sans-serif;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--fonte);
  margin: 0;
  padding: 0;
  background-color: var(--cor-fundo);
}

.visor {
  display: flex;
  background-color: var(--vermelho-principal);
  border-radius: 14px;
  width: 40%;
  margin: 6rem 0 0 23rem;
  padding: 16px;
}
.visor .visor_balanca {
  display: flex;
  flex-direction: column;
}
.visor .titulo {
  color: var(--cor-tela);
  padding: 6px 0 5px 12px;
  font-size: 14px;
}
.visor .valor {
  color: var(--cor-tela);
  font-size: 28px;
  font-weight: 700;
  padding: 2px 0 6px 12px;
}
.visor .logo {
  padding-left: 19rem;
}

@media screen and (max-width: 480px) {
  .visor {
    width: 30%;
    margin: 4rem 0 0 1.3rem;
    padding: 10px 84px;
  }
  .visor .titulo, .visor .valor {
    margin-left: -5rem;
  }
  .visor .titulo {
    font-size: 12px;
  }
  .visor .valor {
    font-size: 22px;
  }
  .visor .logo {
    padding-left: 8.5rem;
  }
}

.tela {
  width: 42.5%;
  height: 29.5rem;
  margin: 0 0 6rem 23rem;
  background-color: var(--cor-tela);
  border-radius: 14px;
}
.tela .titulo_grafico {
  padding: 26px 0 14px 36px;
  color: var(--cor-fonte-principal);
  font-size: 26px;
}
.tela .grafico {
  display: flex;
  align-items: flex-end;
}
.tela .grafico .coluna {
  width: 45px;
  border-radius: 5px;
  margin: 25px 0 2px 0;
}
.tela .grafico #coluna_0, .tela .grafico #coluna_1, .tela .grafico #coluna_3, .tela .grafico #coluna_4, .tela .grafico #coluna_5, .tela .grafico #coluna_6 {
  background-color: var(--vermelho-principal);
}
.tela .grafico #coluna_0 {
  height: 60px;
  margin-left: 2.2rem;
}
.tela .grafico #coluna_1 {
  height: 120px;
}
.tela .grafico #coluna_2 {
  background-color: var(--azul-principal);
  height: 160px;
}
.tela .grafico #coluna_3 {
  height: 100px;
}
.tela .grafico #coluna_4 {
  height: 80px;
}
.tela .grafico #coluna_5 {
  height: 140px;
}
.tela .grafico #coluna_6 {
  height: 90px;
}
.tela .grafico #coluna_0, .tela .grafico #coluna_1, .tela .grafico #coluna_2, .tela .grafico #coluna_3, .tela .grafico #coluna_4,
.tela .grafico #coluna_5, .tela .grafico #coluna_6 {
  cursor: pointer;
}
.tela .grafico .dia_mon, .tela .grafico .dia_wed {
  position: relative;
  bottom: -38px;
  left: -40px;
}
.tela .grafico .dia_tue, .tela .grafico .dia_thu, .tela .grafico .dia_sun {
  position: relative;
  bottom: -38px;
  left: -36px;
}
.tela .grafico .dia_fri {
  position: relative;
  bottom: -38px;
  left: -30px;
}
.tela .grafico .dia_sat {
  position: relative;
  bottom: -38px;
  left: -34px;
}
.tela .linha {
  width: 90%;
  margin: 50px 0 30px 28px;
}
.tela .total {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.tela .total .texto {
  color: var(--cor-fonte-secundaria);
  font-size: 14px;
}
.tela .total .valor {
  color: var(--cor-fonte-principal);
  font-size: 36px;
  font-weight: 700;
}
.tela .total_final {
  display: grid;
  justify-content: end;
  margin: -40px 30px 0 0;
  justify-items: end;
}
.tela .total_final .porcentagem {
  color: var(--cor-fonte-principal);
  font-size: 14px;
  font-weight: 700;
}
.tela .total_final .texto_final {
  color: var(--cor-fonte-secundaria);
  font-size: 14px;
}
.tela #val0, .tela #val1, .tela #val2, .tela #val3, .tela #val4, .tela #val5, .tela #val6 {
  opacity: 0;
  background: black;
  color: white;
  font-size: small;
  position: absolute;
  margin-top: -2rem;
  transition: 2s;
}
.tela #value {
  opacity: 1;
  background: black;
  color: white;
  font-size: small;
  position: absolute;
  margin-top: -2rem;
  transition: 2s;
}

@media screen and (max-width: 480px) {
  .tela {
    width: 65%;
    height: 20.5rem;
    margin: 1rem 0 0 1.3rem;
  }
  .tela .titulo_grafico {
    font-size: 18px;
    margin-left: 1rem;
    padding: 20px 10px;
  }
  .tela .grafico {
    display: flex;
    align-items: flex-end;
  }
  .tela .grafico .coluna {
    width: 20px;
    padding: 10px;
  }
  .tela .grafico #coluna_0 {
    height: 20px;
    margin-left: 1.3rem;
  }
  .tela .grafico #coluna_1 {
    height: 42px;
  }
  .tela .grafico #coluna_2 {
    background-color: var(--azul-principal);
    height: 65px;
  }
  .tela .grafico #coluna_3 {
    height: 35px;
  }
  .tela .grafico #coluna_4 {
    height: 26px;
  }
  .tela .grafico #coluna_5 {
    height: 50px;
  }
  .tela .grafico #coluna_6 {
    height: 30px;
  }
  .tela .grafico .dia_mon, .tela .grafico .dia_tue, .tela .grafico .dia_wed, .tela .grafico .dia_thu, .tela .grafico .dia_fri, .tela .grafico .dia_sat, .tela .grafico .dia_sun {
    font-size: 14px;
  }
  .tela .grafico .dia_mon, .tela .grafico .dia_wed {
    position: relative;
    bottom: -35px;
    left: -23px;
  }
  .tela .grafico .dia_tue, .tela .grafico .dia_thu, .tela .grafico .dia_sun {
    position: relative;
    bottom: -35px;
    left: -20px;
  }
  .tela .grafico .dia_fri {
    position: relative;
    bottom: -35px;
    left: -17px;
  }
  .tela .grafico .dia_sat {
    position: relative;
    bottom: -35px;
    left: -19px;
  }
  .tela .linha {
    margin: 38px 0 5px 15px;
  }
  .tela .total {
    margin-left: 20px;
  }
  .tela .total .valor {
    font-size: 26px;
    padding-top: 2px;
  }
}/*# sourceMappingURL=style.css.map */
